<section>
<h2>Coordonnées</h2>
<h3>Nom,Prénom de l'étudiant(e):<input type="text" name="nomprenom" required></h3>
<table border = "1">
    <tr><td><label for="date_de_naissance">Date de naissance:</label><input type="date" id="date_de_naissance" name="date_de_naissance" required>
    <tr><td><label for="nationalite">Nationalité:</label><input type="text" name="nationalite" required></td></tr>
    <tr><td><label for="adresse">Adresse:</label><input type="text" id="adresse" name="adresse" required></td></tr>
    <tr><td><label for="telephone">Téléphone:</label><input type="number" id="telephone" name="telephone" required></td></tr>
    <tr><td><label for="email">Email:</label><input type="email" id="email" name="email" required>
    <tr><td><label for="sexe">Sexe:</label><input type="radio" name="sexe" value="f" checked>Femme<input type="radio" name="sexe" value="h">Homme</td></tr>
    <tr><td><label for="annee_acad">Année Académique:</label><input type="text" id="annee_acad" name="annee_acad" required></td></tr>
    <tr><td><label for="cycle_etu">Cycle d'études (L,M,D):</label><input type="text" name="cycle_etu" required></td></tr>
    <tr><td><label for="domaine_etu">Domaine d'études:</label><input type="text" name="domaine_etu" required></td></tr>
    <tr><td><label for="code">Code:</label><input type="number" name="code" required></td></tr>
    <tr><td><label for="nbre_annee_etu">Nombre d'années d'études supérieures achevées:</label><input type="number" name="nbre_annee_etu" required>
    <tr><td><label for="etablissement_accueil">Etablissement d'accueil:</label><input type="text" name="etablissement_accueil" required></td></tr>
    <tr><td><br><label for="allocation">Etudiant avec</label><label><input type="checkbox" name="allocation" checked>allocataire de fonds européens Erasmus + (etudiants non boursiers du CROUS)</label><br>
        <br><label><input type="checkbox" name="allocation">non allocataire de fonds européens(étudiants boursiers du CROUS)</label><br>
        <br><label><input type="checkbox" name="allocation">allocataire d'autres fonds que les fonds européens Erasmus +</label><br>
        </td></tr>

    <tr><td><label for="handicap">L'allocation comprendra</label><input type="checkbox" name="handicap">un complément de financement en raison de son handicap</td></tr>
</table>
</section>
